*{box-sizing: border-box;}
h3{
    width: 35%;
text-align: right;}
body{
    margin: 0;
}
.required::after{content:"*";color:red;}
input{
    align-items: flex-end;
    border: 0.2px solid  rgb(0, 0, 0);
}
input:not(input[type="radio"]),
select,
textarea{width: 40%;}
a{color: inherit;}
select,
textarea{margin-left: 40px;}
.wrapper{
    border: 1px solid black;
    margin: auto;
    min-width: 720px;
    width: 50%;
    background-color: white;
}
label{display: flex;
justify-content: flex-start;}
header{
    background-color: rgba(128, 128, 128, 0.555);
    color: white;
    text-align: center;
    padding: 1px 0;
}
.flex-container{display: flex;
}
.register{
    display: flex;
    flex-direction: column;    
    padding: 20px 0;
    min-width: 360px;
    width: 90%;}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.register>*{
    margin-bottom: 15px;
}
.radio-kavkaz1,
.radio-kavkaz2{display: inline-block;
position: relative;}
.radio-kavkaz1::after{
    width: 70px;
    height: 70px;
    content: "E-mail";
}
.radio-kavkaz2::after{
    width: 70px;
    height: 70px;
    content: "Phone";
    vertical-align: middle;
}
.radio-kavkaz1::after,
.radio-kavkaz2::after{
    position: absolute;    
    top: 22px;
    left: 20px;
}
.register>label>input:not(input[type="radio"]) {
    height: 50px;
    outline: auto;
    margin-left: 40px;
    color: #aaa;
    border: none;
    border-bottom: 1px solid rgb(188, 186, 186);
    font-size: 1.1em;
    padding-bottom: 7px;
    }
.register>input[type="submit"]{
    background-color: rgba(3, 91, 103, 0.8);
    color: white;
    margin-left: 40%;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    width: 100px;
}
input[type="radio"]{
    margin-left: 40px;
}

.register input[type="submit"]:hover{
    background-color: rgb(3, 92, 103);
}
/* .select1{
    width: 100%;
} */
input[type='radio']{
    margin-right: 30px;
}
